body, html {
    scroll-behavior: smooth;
    margin:0;
    padding: 0;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

.basecontainer{
    padding-top: 65px;
}

.textcontainer {
    position: absolute;
    left: 10%;
    /* transform: translate(-50%,0); */
    font-size: 1.666vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1f1;
    z-index:0 ;
}

.tablecontainer {
}

#navbar {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 99;
    width: 100%;
}

#navbar ul {
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

#navbar li a:hover:not(.active) {
    background-color: #111;
}

#navbar .active {
    background-color: #4CAF50;
}

#buttons {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
}

#buttons button {
    font-size: 30px;
    padding:10px;
}

#buttons touchbutton {
    height: 150;
    width: 300;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

table {
    border-spacing: 0;
    width: auto;
    border: none;
    font-size: 25px;
    margin-left:auto;
    margin-right:auto;
}

th {
    cursor: pointer;
    color: white;
}
th, td {
    padding: 16px;
}
tr:nth-child(even) {
    background-color: #202020
}

.formfield {
    background-color: white;
    color: black;
}
