<!DOCTYPE html>
<html>
<head>
    <title>SongbirT</title>
    <meta name="SongbirT" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="/static/myjava.js"></script>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
</head>
<body>

    <h1> SongbirT</h1>

    <div class="tablecontainer">
    <form action="/setup-submit" method="post">
    Please Enter the URL from which to serve
        <br>
        <input class="formfield" type="text" name="pathtoserve" value="url" size="60" maxlength="255">
        <br>
    </form>
    </div>
</body>
</html>